.brand-letter h1 { 
    font-size: 24px;
    margin: 0;
}
.brand-header {
    li {
        display: inline-block;
        margin-right: 20px;
    }
}
.brand-header{
    .brand-letter{
      a{
        color: black;
    }
   }
}
.brands a {
    font-size: 20px;
    height: 10px;
    line-height: 50px;
    color: black;
}
.start{
    .brand-letter{
        background: #c4c9ce;
        padding: 8px 0;
        h1{
            margin: 0;
            a{
                color: black;
                line-height: 26px;
            }
        }   
     }
}