.mz-productdetail-wrap {
    .mz-pagetitle {
        border-bottom: none;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }
    .mz-price-rating-section {
        padding: 13px 0 25px;
    }
    .mz-stock-availability {
        p {
            margin: 0;
            color: #666;
            font-size: 12px;
        }
        .mz-stock {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .mz-brand-certifications { 
        float: left;
        width: 100%; 
        padding: @gutter 0;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: @gutter;
        ul{
            li{
                float: left;
                padding: 0 @gutter+5; 
                border-right: 1px solid #e0e0e0;
                min-height: 45px; 
                &.product-brand{ 
                    width: 200px;
                }
                &.product-certifications{
                    width: auto;
                    span{
                        display: inline-block;
                        margin: 0 6px;
                        img{
                            width: 45px;
                            height: auto;
                        }
                    }
                }
                &.service-tooltips{ 
                    float: left;
                    border: none;
                    .mz-tooltip {
                        float: left;
                        width: 32px;
                        margin: 0 6px;
                    }
                } 
            }
        }
    } 
    h4 {
        &.mz-l-stack-sectiontitle {
            color: #495363;
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 12px;
            line-height: 30px;
            text-transform: uppercase;
        }
    }
    .mz-options-section {
        .col-md-8 {
            padding-left: 0;
            select {
                color: #666;
                border: 1px solid #d4d4d4;
                padding: 0 13px;
                height: 36px;
                width: 100%;
            }
        }
        .mz-warranty {
            p {
                color: #666666;
                font-size: 12px;
                margin-top: 0;
            }
        }
    }
}


// Should be add in button page
button{
    &#add-to-wishlist {
        color: #495363;
        font-size: 14px;
        line-height: 36px;
        border: none;
        background: #fff;
        padding: 0;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
button {
    &#add-to-cart {
        border-radius: 0;
        line-height: 10px;
        margin-top: 0;
        width: 100%;
        height: 40px;
        &.is-disabled {
            background: #d15f2a;
            border: 1px solid transparent;
            opacity: 0.5;
        }
    }
}