
/**** Site Changes for large screens ****/
@media @mz-lg-media-query{ 
	.mz-sitenav{
		.mz-sitenav-item{
			.mz-sitenav-link{
				/*padding: 8px 15px;  */ 
			} 	
		}
	}
	.noimage-placeholder{
		width: 120px;
		height: 120px; 
		.noimage-text{
			font-size: 20px;    
		} 
	}  
	
} 
