/**** Site Changes for small screens ****/
@media @mz-md-media-query{
	//Navigation
	.mz-sitenav {
		.mz-sitenav-item{
			.mz-sitenav-link{
				padding: 10px 15px;
			}	
		}
	}

	/**** Home Page ****/
	#mz-drop-zone-shop-now-widget{
		.mz-cms-col-6-12{
			.shop-now-widget{
				.col-xs-12{
					padding: 0; 
				}
				.mz-details-container{
					.mz-hot-deal-title-one{
						font-size: 18px;
						line-height: 24px; 
						padding: 0; 
					}
					.mz-hot-deal-title-two{
						font-size: 26px;
						line-height: 32px; 
					}
					.mz-hot-deal-title-three{
						font-size: 16px;
						line-height: 20px; 
					}
					.mz-btn{
						margin-top: 13px; 
					}		
				}
			}
		}
	}

	//Back to top
	#back-to-top{
		bottom: 42px;
	}
}