
/**** Site Changes for small screens ****/
@media @mz-md-media-query{
	.mz-sitenav {
		.mz-sitenav-item{
			.mz-sitenav-link{
				padding: 10px 15px;
			}	
		}
	}

	#back-to-top{
		bottom: 42px;
	}
	.mz-pagefooter{
		.mz-footer-top{
			.mz-policy{
				margin-top: 40px;
			}
			.mz-pagefooter-copyright{
				float: left !important;
				margin-top: 5px;
			}		
		}
	} 
	
}