
/**** Custom Changes ****/
html, body{
	height: 100%;
	min-height: 100%;
}
body{
  background: #fff;
  font-family: 'Lato', sans-serif;
}

ul, ol{
	margin: 0;
}

@media screen and (min-width: 1500px){
	.container{
		width: 1440px;  
	}
}

.mz-l-pagecontent{
	background: #fff;
	margin-bottom: @gutter*2;
}

.mz-cms-content{
	padding: 0 !important;
}

img[data-mztp]{
	display: none;
}

.heading-2{
	font-size: @headingTwoFontSize;
	color: @headingTwoColor;
	line-height: @headingTwoFontSize+4;
	text-transform: uppercase;
	position: relative;
	margin: 0 0 @gutter;
	span{
		display: inline-block;
		background: #fff; 
		padding-right: @gutter;
		position: relative;
		z-index: 9;
	}
	&:after{
		position: absolute;
	    content: "";
	    background: #e0e0e0;
	    width: 100%;
	    height: 1px;
	    right: 0;
	    top: 14px;
	}
}

.mz-button{
	background: #FF6633;
	padding: 12px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	border: 2px solid transparent; 
	border-radius: none;
	&:hover{
		background: #fff;
		color: #FF6633;
		border-color: #FF6633;	 
	}
	&[disabled]{
		background: #ddd;
		&:hover{
			background:#ddd;
			color: #fff;
			border-color: transparent; 
		}
	}
}



#global-cart {
    display: none;
    position: absolute;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    top: 52px;
    right: 0;
    width: 715px;
    padding: @gutter;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;   
    z-index: 1011;
   
    .heading{
        border-bottom: 1px solid #ddd;
        display: block;
        margin: 0;
        padding: 0 @gutter 6px;
        p{
            font-size: 16px;
            line-height: 18px;
            color: #ddd;
        }
        .col-xs-6{
            p{
                margin-left: 11px;
            }
        }
    }
    .listing {
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: @gutter @gutter 7px 0;
        .item-image{                
            a {
                width: 105px;
                height: 105px;
                display: block;
                
            }
        }
        .title-box{
            padding-left: 22px;
            .media-heading {
                h5{
                    font-size: @fontSize;
                    line-height: @gutter;
                    color: #ddd;
                }
                a {
                    text-decoration: none;
                    font-size: @fontSize;
                    line-height: @gutter;
                    color: #ddd;
                   
                }
            }
        }
        .price-each {
            .mz-item-price{
                display: block;
                padding-right: 33px;
                padding-left: 0px;
            }
        }  
        p{
            font-size: @fontSize;
            line-height: 16px;
            color: #ddd;
             
            margin: 0;
        }
        span{
            font-size: 13px;
            line-height: @gutter;
            color: #ddd;
            vertical-align: top;
             
            .is-saleprice{
                display: block;
            }
            &.is-crossedout{
                color: #ddd;
            }
        }
    }
    .total {
        border-bottom: 1px solid #ddd;
        margin: 0px;
        padding: 12px @gutter;
        .col-xs-5{
            padding-top: 18px;
        }
        a{
            color: #ddd;
            font-size: @fontSize;
            line-height: 14px;
            margin-left: 25px;
           
        }
        .price-details{
            span{
                color: #ddd;
                font-size: @fontSize;
                line-height: 22px;
                display: block;
                &.discount {
                    color: #333;
                }
                p {
                    display: block;
                    float: right;
                    margin:0px;
                }
            }
            
        }
    }
    .checkout{
        border-bottom: 1px solid #ddd;
        margin: 0px;
        padding: 24px @gutter 24px 0;
        .link-green {
            line-height: 14px;
            margin-left: 22px;
            margin-top: 12px;
            &:active{
                box-shadow: none;
            }
            &:focus{
                outline: 0;
            }
        }
        .button_primary{
            font-size: 20px;
            line-height: 18px;
            border:none;
            &:hover{
                color: #fff;
                background: #fff;
            }
            &:focus{
                outline: 0;
            }
            &:active{
                box-shadow: none;
            }
        }
    }
    .recommended {
        margin: 0px;
        p{
            color: #ddd;
            font-size:18px;
            line-height: 18px;
            margin-top: 26px;
        }
    }
    
    .cart-items {
        list-style: none;
        padding: 0;
    }
   
    .mz-productlist-item {
        padding-top: 10px;
        width: 200px;
        img {
            max-height: 100px;
            max-width: 100px;
        }
    }
}

.global-cart{
	&:hover{
		#global-cart{
			display: none; 
		}
	}
}