.mz-utilitynav { 
    color: @textColor;
    font-size: @fontSizeSmall; 

    .mz-utilitynav-item {
        float: left;
        margin-left: @gutter+10;
        text-align: right;
        position: relative; 

        &:last-child {
            text-align: right;
        }
        &.live-chat{
            display: none;
        }
    }

    .mz-utilitynav-link { 
        color: @baseBlueColor;
        text-align: center;
        font-weight: bold;
        .fa{
            display: block;
            font-size: 35px;
            color: @baseBlueColor;
        }
        &:hover{
            text-decoration: none;
        }
    }
    .mz-utilitynav-link-cart{
        display: block;
        height: 40px;
        .mz-cartmonitor{
            display: block;
            background: @cartColor;
            color: #fff;
            width: 28px;
            height: 28px;
            font-size: 20px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            right: -14px;
            top: -14px
        }
    }

}

//Login Popup EditedBy: Ashish 
.mz-login-model {
    .modal-content {
        border-radius: 0;
        button {
            &.close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
            }
        }
    }
    .modal-body {
        margin-top: 10px;
        .pull-left,
        .pull-right {
            width: 50%;
        }
        .pull-left {
            padding-right: 15px;
        }
        .pull-right {
            border-left: 1px solid #e0e0e0;
            padding-left: 15px;
        }
        .mz-pagetitle {
            font-size: 22px;
            margin: 10px 0;
            text-transform: uppercase;
        }
        p {
            color: #666;
        }
        .mz-l-formfieldgroup {
            display: block;
            .input-group {
                margin-bottom: 10px;
            }
            .input-group-addon {
                padding: 10px 15px;
                font-size: 12px;
                line-height: 10px;
                border-radius: 0;
            }
            input[type="text"], 
            input[type="password"],
            input[type="email"], 
            input[type="tel"] {
                border: 1px solid #d4d4d4;
                margin-bottom: 0px;
                width: 100%;
                height: 36px;
            }
        }
        .mz-signupform {
            margin-top: 32px;
        }
        button {
            &.mz-button {
                border-radius: 0;
                width: 100%;
                padding: 8px 0;
            }
        }
        .mz-forgot {
            color: #00adce;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .mz-popover-message {
            margin-top: 10px;
        }
    }
    .modal-footer {
        p {
            margin: 6px 0;
            i {
                margin-right: 6px;
            }
        }
    }
}
#mz-logged-in-notice {
    #my-account-content {
        display: none;
    }
    .popover {
        border: 1px solid #415265;
        border-radius: 0;
        width: 200px;
        padding: 0;
        .popover-content {
            border-top: 20px solid #415265;
            position: relative;
            top: -1px;
            padding: 15px;
        }
        &.bottom {
            .arrow {
                top: -11px!important;
                &:after {
                    border-bottom-color: #415265;
                }
            }
        }
    }
    .my-account-details {
        h4 {
            font-size: 14px;
        }
    }
}

//My Account Page/Section
.mz-myaccount-panels {
    h3 {
        &.mz-l-stack-sectiontitle {
            border-bottom: 1px solid #e0e0e0;
            font-size: 22px;
            font-weight: 700;
            line-height: 40px;
            margin: 0 0 30px;
            text-transform: uppercase;
            a {
                color: #d15f2a;
                float: right;
                font-size: 14px;
                font-weight: 500;
                &:hover {
                    color: #d15f2a;
                }
                &.mz-link-edit-accountsettings {
                    float: right;
                }
            }
        }
    }
    #account-settings  {
        h3 {
            &.mz-l-stack-sectiontitle {
                a {
                    &.mz-link-edit-accountsettings {
                        float: right;
                    }
                }
            }
        }
    }
    .mz-accountsettings {
        .mz-accountsettings-section {
            min-height: 28px;
            line-height: 12px;
            padding-top: 0;
        }
       .mz-accountsettings-displayname {
            font-weight: 700;
        }
    }
    .control-label {
        line-height: 35px;
        margin-bottom: 0;
        text-align: right;
    }
    .mz-label {
        text-align: right;
        label {
            line-height: 35px;
            margin-bottom: 0;
        }
    }
    .form-control {
        border-radius: 0;
        border: 1px solid #d4d4d4;
    }
    li {
        list-style: none;
        &.mz-accountaddressbook-contact {
            &.mz-accountaddressbook-form {
                width: 50%;
                margin: 0;
                padding: 0;
            }
        }
    }
    .mz-l-stack-section {
        margin-bottom: 40px;
    }
    .mz-accountaddressbook {
        .mz-accountaddressbook-contact {
            border-right: 1px solid #e0e0e0;
            width: 33.33%;
            min-height: 240px;
            margin: 0 0 30px 0;
            padding: 0 15px;
        }
        .mz-accountaddressbook-empty {
            line-height: 12px;
        }
    }
    .mz-recent-order-product {
        float: left;
        width: 100%;
        .mz-l-stack-section {
            padding: 15px;
            .mz-itemlisting {
                padding-top: 0;
            }
        }
    }
    .mz-orderlisting {
        .mz-l-stack-section {
            margin-bottom: 0;
        }
        .mz-orderlisting-heading {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    .mz-button {
        border-radius: 0;
        &.mz-accountsettings-editdone,
        &.mz-accountsettings-passworddone,
        &.mz-contact-save {
            float: right;
            line-height: 10px;
            width: 70%;  
        }
        &.mz-accountsettings-passwordedit {
            margin-top: 0;
        }
        &.mz-accountsettings-editcancel,
        &.mz-accountsettings-passwordcancel,
        &.mz-contact-cancel {
            background: #fff;
            border-color: #fff;
            border-left: 0;
            color: #666;
            font-weight: 500;
            font-size: 14px;
            line-height: 10px;
            padding-right: 0;
            padding-left: 0;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

//Notice
@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    } 
}
.modal-backdrop {
    &.fade {
        &.in {
            opacity: 0.7;
        }
    }
}
//Extra
.mz-order-history-dropzone {
    background: #ccc;
    height: 300px;
}
.fixed {
    position: static!important;
}
